.version.digitally_fabricated_wardrobe /* version checker */
{
	color: #0000E8;
	background-color: #A56673;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 1234px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu85
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -113px;
	margin-left: -100px;
}

#u85
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 777px 120px;
}

#u81-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u89-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u133-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u84-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u90-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u94-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u92
{
	z-index: 27;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#pu224-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -101px;
	margin-left: 221px;
}

#u224-8
{
	z-index: 49;
	width: 742px;
	min-height: 60px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	text-align: right;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u226
{
	z-index: 57;
	vertical-align: top;
	width: 603px;
	height: 3px;
	margin-left: 140px;
	margin-top: 4px;
	position: relative;
	background: url("../images/u226.png") no-repeat 0px 0px;
}

#ppu228
{
	width: 0.01px;
	margin-top: 19px;
}

#pu228
{
	z-index: 58;
	width: 0.01px;
	position: relative;
	margin: -5px -10000px -5px -5px;
}

#u228
{
	z-index: 0;
	width: 732px;
	border-width: 10px;
	border-style: solid;
	border-color: #993E13;
	background-color: #993E13;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu241-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 16px;
	z-index: 2;
	padding-bottom: 11px;
}

#u241-4
{
	z-index: 59;
	width: 294px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u245-4
{
	z-index: 87;
	width: 294px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 108px;
	position: relative;
}

#u244-4
{
	z-index: 71;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 72px;
	position: relative;
}

#u265-4
{
	z-index: 79;
	width: 317px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 48px;
	position: relative;
}

#u254-4
{
	z-index: 95;
	width: 454px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 5px;
	position: relative;
}

#u235
{
	z-index: 47;
	width: 741px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u235 .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u242-4
{
	z-index: 63;
	width: 208px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 11px;
}

#u243-4
{
	z-index: 67;
	width: 153px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 11px;
}

#u260-4
{
	z-index: 75;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
	left: 11px;
}

#u263-4
{
	z-index: 83;
	width: 249px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 11px;
}

#u247-4
{
	z-index: 91;
	width: 77px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 11px;
}

#u257-4
{
	z-index: 99;
	width: 214px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993F14;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 11px;
}

#u382-6
{
	z-index: 103;
	width: 711px;
	min-height: 77px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 11px;
	margin-top: 15px;
	position: relative;
}

#u352
{
	z-index: 28;
	min-height: 189px;
	padding-bottom: 70px;
}

#u352_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u353-4
{
	z-index: 29;
	width: 306px;
	min-height: 73px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 20px;
}

#u362-14
{
	z-index: 33;
	width: 409px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 736px;
}

#u352-bw
{
	z-index: 28;
	min-height: 189px;
	margin-bottom: -259px;
	margin-top: 1234px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
	padding-bottom: 254px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1234px;
}

