.version.digitally_fabricated_wardrobe /* version checker */
{
	color: #0000EC;
	background-color: #EA3E87;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 889px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -113px;
	width: 0.01px;
}

#ppu224-8
{
	width: 0.01px;
	margin-left: -100px;
}

#pu224-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 321px;
}

#u224-8
{
	z-index: 50;
	width: 742px;
	min-height: 60px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	text-align: right;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u226
{
	z-index: 58;
	vertical-align: top;
	width: 603px;
	height: 3px;
	margin-left: 140px;
	margin-top: 4px;
	position: relative;
	background: url("../images/u226.png") no-repeat 0px 0px;
}

#ppu228
{
	width: 0.01px;
	margin-top: 19px;
}

#pu228
{
	z-index: 59;
	width: 0.01px;
	position: relative;
	margin: -5px -10000px -5px -5px;
}

#u228
{
	z-index: 0;
	width: 732px;
	border-width: 10px;
	border-style: solid;
	border-color: #993E13;
	background-color: #993E13;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu241-4
{
	width: 0.01px;
	position: relative;
	left: 16px;
	padding-top: 16px;
	z-index: 2;
	padding-bottom: 11px;
}

#u241-4
{
	z-index: 60;
	width: 294px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u245-4
{
	z-index: 88;
	width: 294px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 108px;
	position: relative;
}

#u244-4
{
	z-index: 72;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 72px;
	position: relative;
}

#u265-4
{
	z-index: 80;
	width: 317px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 48px;
	position: relative;
}

#u254-4
{
	z-index: 96;
	width: 454px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 5px;
	position: relative;
}

#u235
{
	z-index: 48;
	width: 741px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u235 .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u242-4
{
	z-index: 64;
	width: 208px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 11px;
}

#u243-4
{
	z-index: 68;
	width: 153px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 11px;
}

#u260-4
{
	z-index: 76;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 227px;
	left: 11px;
}

#u263-4
{
	z-index: 84;
	width: 249px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 11px;
}

#u247-4
{
	z-index: 92;
	width: 77px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 11px;
}

#u257-4
{
	z-index: 100;
	width: 214px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993F14;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 11px;
}

#u382-6
{
	z-index: 104;
	width: 711px;
	min-height: 77px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 11px;
	margin-top: 15px;
	position: relative;
}

#u420
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 419px 120px;
}

#u417-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u418-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u416-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u424-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u421-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u426-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u425
{
	z-index: 27;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u419
{
	z-index: 28;
	min-height: 149px;
	padding-bottom: 16px;
}

#u419_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u423-4
{
	z-index: 29;
	width: 311px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 101px;
}

#u422-15
{
	z-index: 33;
	width: 321px;
	min-height: 96px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 742px;
}

#u419-bw
{
	z-index: 28;
	min-height: 149px;
	margin-top: 389px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
	padding-bottom: 5px;
}

#page .verticalspacer
{
	clear: both;
}

