.version.fablabcept /* version checker */
{
	color: #00000C;
	background-color: #906272;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 889px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -113px;
	width: 0.01px;
}

#ppu370-4
{
	width: 0.01px;
	margin-left: -100px;
}

#pu370-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 316px;
}

#u370-4
{
	z-index: 48;
	width: 289px;
	min-height: 40px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 438px;
	position: relative;
}

#u371-6
{
	z-index: 60;
	width: 727px;
	min-height: 116px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 6px;
	position: relative;
}

#u372-4
{
	z-index: 52;
	width: 226px;
	min-height: 34px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	margin-left: 501px;
	margin-top: 13px;
	position: relative;
}

#u374-14
{
	z-index: 66;
	width: 727px;
	min-height: 138px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 14px;
	position: relative;
}

#u374-4
{
	text-decoration: underline;
}

#u376-4
{
	z-index: 56;
	width: 226px;
	min-height: 34px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: normal;
	margin-left: 501px;
	margin-top: 14px;
	position: relative;
}

#u375-10
{
	z-index: 80;
	width: 727px;
	min-height: 157px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 13px;
	position: relative;
}

#u374-10,#u375-6
{
	color: #993E13;
}

#u420
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 419px 120px;
}

#u417-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u418-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u416-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u424-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u421-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u426-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u425
{
	z-index: 27;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u419
{
	z-index: 28;
	min-height: 149px;
	padding-bottom: 16px;
}

#u419_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u423-4
{
	z-index: 29;
	width: 311px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 101px;
}

#u422-15
{
	z-index: 33;
	width: 321px;
	min-height: 96px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 742px;
}

#u419-bw
{
	z-index: 28;
	min-height: 149px;
	margin-top: 389px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
	padding-bottom: 5px;
}

#page .verticalspacer
{
	clear: both;
}

