.version.index /* version checker */
{
	color: #00001F;
	background-color: #DFFDBD;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 961px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu85
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -113px;
	margin-left: -100px;
}

#u85
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 777px 120px;
}

#u81-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u89-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u133-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u84-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u90-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u94-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u92
{
	z-index: 27;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#pu364
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -103px;
	margin-left: 201px;
}

#u364
{
	z-index: 67;
	width: 752px;
	background-color: transparent;
	position: relative;
}

#u155
{
	z-index: 66;
	vertical-align: top;
	width: 117px;
	height: 3px;
	margin-left: 626px;
	top: -6px;
	margin-bottom: -3px;
	position: relative;
	background: url("../images/u155.png") no-repeat 0px 0px;
}

#u134-19
{
	z-index: 47;
	width: 732px;
	min-height: 461px;
	background-color: transparent;
	line-height: 29px;
	color: #993E13;
	font-size: 24px;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 10px;
	margin-top: 11px;
	position: relative;
}

#u134-3
{
	font-weight: normal;
}

#u134
{
	color: #FFFFFF;
}

#u134-4
{
	font-weight: bold;
}

#u134-6,#u134-9,#u134-11,#u134-13,#u134-15,#u134-17
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u134-5,#u134-8,#u134-10,#u134-12,#u134-14,#u134-16
{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
}

#u352
{
	z-index: 28;
	min-height: 189px;
	padding-bottom: 70px;
}

#u352_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u353-4
{
	z-index: 29;
	width: 306px;
	min-height: 73px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 20px;
}

#u362-14
{
	z-index: 33;
	width: 409px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 736px;
}

#u352-bw
{
	z-index: 28;
	min-height: 189px;
	margin-bottom: -259px;
	margin-top: 1064px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
	padding-bottom: 254px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1064px;
}

