.version.index /* version checker */
{
	color: #0000F0;
	background-color: #C3BF98;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 889px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -113px;
	width: 0.01px;
}

#ppu364
{
	width: 0.01px;
	margin-left: -100px;
}

#pu364
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 301px;
}

#u364
{
	z-index: 68;
	width: 752px;
	background-color: transparent;
	position: relative;
}

#u155
{
	z-index: 67;
	vertical-align: top;
	width: 117px;
	height: 3px;
	margin-left: 626px;
	top: -6px;
	margin-bottom: -3px;
	position: relative;
	background: url("../images/u155.png") no-repeat 0px 0px;
}

#u134-19
{
	z-index: 48;
	width: 732px;
	min-height: 461px;
	background-color: transparent;
	line-height: 29px;
	color: #993E13;
	font-size: 24px;
	text-align: right;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 10px;
	margin-top: 11px;
	position: relative;
}

#u134-3
{
	font-weight: normal;
}

#u134
{
	color: #FFFFFF;
}

#u134-4
{
	font-weight: bold;
}

#u134-6,#u134-9,#u134-11,#u134-13,#u134-15,#u134-17
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u134-5,#u134-8,#u134-10,#u134-12,#u134-14,#u134-16
{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
}

#u420
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 419px 120px;
}

#u417-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u418-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u416-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u424-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u421-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u426-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u425
{
	z-index: 27;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u419
{
	z-index: 28;
	min-height: 149px;
	padding-bottom: 16px;
}

#u419_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u423-4
{
	z-index: 29;
	width: 311px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 101px;
}

#u422-15
{
	z-index: 33;
	width: 321px;
	min-height: 96px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 742px;
}

#u419-bw
{
	z-index: 28;
	min-height: 149px;
	margin-top: 105px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
	padding-bottom: 5px;
}

#page .verticalspacer
{
	clear: both;
}

