#u85
{
	background-color: #FFFFFF;
	position: relative;
}

#u81-4
{
	background-color: transparent;
	color: #337885;
	font-size: 50px;
	line-height: 60px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u84-4
{
	background-color: transparent;
	color: #993E13;
	font-size: 40px;
	line-height: 48px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u133-4,#u90-4
{
	background-color: transparent;
	color: #337885;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u89-4,#u94-4
{
	background-color: transparent;
	color: #993E13;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u92
{
	background-color: #337885;
	position: relative;
}

#u352
{
	background-color: #FFFFFF;
}

#u352_align_to_page
{
	position: relative;
}

#u353-4
{
	background-color: transparent;
	color: #337885;
	font-size: 50px;
	line-height: 60px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u362-14
{
	background-color: transparent;
	color: #993E13;
	font-size: 20px;
	text-align: right;
	line-height: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u362-10
{
	color: #337885;
}

