#u148
{
	background-color: #FFFFFF;
	position: relative;
}

#u150-4
{
	background-color: transparent;
	line-height: 60px;
	color: #337885;
	font-size: 50px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u149-4
{
	background-color: transparent;
	line-height: 48px;
	color: #993E13;
	font-size: 40px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u153-4,#u147-4
{
	background-color: transparent;
	line-height: 29px;
	color: #337885;
	font-size: 24px;
	text-align: right;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u151-4,#u154-4
{
	background-color: transparent;
	line-height: 29px;
	color: #993E13;
	font-size: 24px;
	text-align: right;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u146
{
	background-color: #337885;
	position: relative;
}

#u410
{
	background-color: #FFFFFF;
}

#u410_align_to_page
{
	position: relative;
}

#u411-4
{
	background-color: transparent;
	line-height: 60px;
	color: #337885;
	font-size: 50px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u412-15
{
	background-color: transparent;
	line-height: 19px;
	color: #993E13;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u412-2,#u412-4,#u412-6,#u412-8,#u412-12
{
	text-align: right;
}

#u412-10
{
	color: #993E13;
}

