#u438
{
	background-color: #FFFFFF;
	position: relative;
}

#u444-4
{
	background-color: transparent;
	color: #337885;
	font-size: 50px;
	line-height: 60px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u446-4
{
	background-color: transparent;
	color: #993E13;
	font-size: 40px;
	line-height: 48px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u442-4,#u445-4
{
	background-color: transparent;
	color: #337885;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u439-4,#u447-4,#u441-4
{
	background-color: transparent;
	color: #993E13;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u448
{
	background-color: #337885;
	position: relative;
}

#u443
{
	background-color: #FFFFFF;
}

#u443_align_to_page
{
	position: relative;
}

#u437-4
{
	background-color: transparent;
	font-size: 50px;
	line-height: 60px;
	color: #337885;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u440-15
{
	background-color: transparent;
	color: #993E13;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
}

#u440-2,#u440-4,#u440-6,#u440-8,#u440-12
{
	text-align: right;
}

#u440-10
{
	color: #993E13;
}

