#u85
{
	background-color: #FFFFFF;
	position: relative;
}

#u81-4
{
	background-color: transparent;
	font-size: 50px;
	line-height: 60px;
	color: #337885;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u84-4
{
	background-color: transparent;
	font-size: 40px;
	line-height: 48px;
	color: #993E13;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u86-4,#u133-4,#u90-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	color: #337885;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u89-4,#u94-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	color: #993E13;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u92
{
	background-color: #337885;
	position: relative;
}

