#u148
{
	background-color: #FFFFFF;
	position: relative;
}

#u150-4
{
	background-color: transparent;
	font-size: 50px;
	line-height: 60px;
	color: #337885;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u149-4
{
	background-color: transparent;
	font-size: 40px;
	line-height: 48px;
	color: #993E13;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: normal;
	position: relative;
}

#u152-4,#u153-4,#u147-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	color: #337885;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u151-4,#u154-4
{
	background-color: transparent;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	color: #993E13;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u146
{
	background-color: #337885;
	position: relative;
}

