.version.projects /* version checker */
{
	color: #000004;
	background-color: #2D2931;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 889px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -113px;
	width: 0.01px;
}

#ppu157-4
{
	width: 0.01px;
	margin-left: -100px;
}

#pu157-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 9px;
	margin-left: 338px;
}

#u157-4
{
	z-index: 112;
	width: 103px;
	min-height: 33px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 602px;
	position: relative;
}

#u160
{
	z-index: 116;
	vertical-align: top;
	width: 105px;
	height: 3px;
	margin-left: 601px;
	position: relative;
	background: url("../images/u160.png") no-repeat 0px 0px;
}

#pppu167
{
	width: 0.01px;
	margin-top: 27px;
}

#pu167
{
	z-index: 110;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu180-8
{
	width: 0.01px;
	position: relative;
	left: 26px;
	padding-top: 38px;
	z-index: 2;
	padding-bottom: 38px;
}

#u180-8
{
	z-index: 119;
	width: 262px;
	min-height: 118px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u190
{
	z-index: 108;
	width: 328px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#pu169
{
	z-index: 117;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu203-7
{
	width: 0.01px;
	position: relative;
	left: 33px;
	padding-top: 53px;
	z-index: 2;
	padding-bottom: 49px;
}

#u203-7
{
	z-index: 135;
	width: 262px;
	min-height: 118px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u197
{
	z-index: 106;
	width: 329px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u197_img
{
	margin-top: -7px;
	margin-bottom: -8px;
}

#pppu176
{
	width: 0.01px;
	margin-top: 33px;
}

#ppu167,#ppu176
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu176
{
	z-index: 111;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#pu210-4
{
	width: 0.01px;
	position: relative;
	left: 32px;
	padding-top: 25px;
	z-index: 2;
	padding-bottom: 25px;
}

#u210-4
{
	z-index: 127;
	width: 262px;
	min-height: 118px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u204
{
	z-index: 104;
	width: 329px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u197_clip,#u204_clip
{
	overflow: hidden;
	width: 329px;
	height: 232px;
}

#u204_img
{
	margin-right: -9px;
}

#ppu169,#ppu177
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 376px;
}

#pu177
{
	z-index: 118;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u167,#u169,#u176,#u177
{
	z-index: 0;
	width: 329px;
	background-color: #993E13;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu217-4
{
	width: 0.01px;
	position: relative;
	left: 33px;
	padding-top: 85px;
	z-index: 2;
	padding-bottom: 92px;
}

#u217-4
{
	z-index: 131;
	width: 262px;
	min-height: 55px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u211
{
	z-index: 102;
	width: 329px;
	background-color: transparent;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
}

#u190 .clip_frame,#u197 .clip_frame,#u204 .clip_frame,#u211 .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u211_img
{
	padding-bottom: 2px;
}

#u381-6
{
	z-index: 142;
	width: 705px;
	min-height: 53px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 16px;
	position: relative;
}

#u148
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 419px 120px;
}

#u150-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u151-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u153-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u149-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u147-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u154-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u429-4
{
	z-index: 27;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 297px;
	left: 120px;
}

#u146
{
	z-index: 31;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u420
{
	z-index: 52;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 381px 120px;
}

#u417-4
{
	z-index: 53;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u418-4
{
	z-index: 61;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u416-4
{
	z-index: 69;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u432-4
{
	z-index: 77;
	width: 153px;
	min-height: 38px;
}

#u424-4
{
	z-index: 57;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u421-4
{
	z-index: 65;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u426-4
{
	z-index: 73;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u425
{
	z-index: 81;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u419
{
	z-index: 82;
	min-height: 149px;
	padding-bottom: 16px;
}

#u423-4
{
	z-index: 83;
	width: 311px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 101px;
}

#u422-15
{
	z-index: 87;
	width: 321px;
	min-height: 96px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 742px;
}

#u419-bw
{
	z-index: 82;
	min-height: 149px;
	margin-top: 389px;
}

#u410
{
	z-index: 32;
	min-height: 149px;
	padding-bottom: 16px;
}

#u419_align_to_page,#u410_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u411-4
{
	z-index: 33;
	width: 311px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 101px;
}

#u412-15
{
	z-index: 37;
	width: 321px;
	min-height: 96px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 742px;
}

#u410-bw
{
	z-index: 32;
	min-height: 149px;
	margin-top: 867px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
	padding-bottom: 5px;
}

#page .verticalspacer
{
	clear: both;
}

