.version.study_and_model_making_for_adding_a_convertible_roof_to_current_indian_two_wheeler_for_hot_summers /* version checker */
{
	color: #000011;
	background-color: #FC5D53;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 1629px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -113px;
	width: 0.01px;
}

#ppu294-4
{
	width: 0.01px;
	margin-left: -100px;
}

#pu294-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 321px;
}

#u294-4
{
	z-index: 85;
	width: 742px;
	min-height: 60px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: right;
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u306
{
	z-index: 89;
	vertical-align: top;
	width: 603px;
	height: 3px;
	margin-left: 140px;
	margin-top: 4px;
	position: relative;
	background: url("../images/u306.png") no-repeat 0px 0px;
}

#ppu300
{
	width: 0.01px;
	margin-top: 19px;
}

#pu300
{
	z-index: 84;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	margin-left: -5px;
}

#u300
{
	z-index: 0;
	width: 732px;
	border-width: 10px;
	border-style: solid;
	border-color: #993E13;
	background-color: #993E13;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu296-4
{
	width: 0.01px;
	position: relative;
	left: 11px;
	padding-top: 16px;
	z-index: 2;
	padding-bottom: 20px;
}

#u296-4
{
	z-index: 90;
	width: 652px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 5px;
	position: relative;
}

#u304-4
{
	z-index: 106;
	width: 539px;
	min-height: 30px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 170px;
	position: relative;
}

#pu297-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 101px;
}

#u297-4
{
	z-index: 102;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #993E13;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u305-4
{
	z-index: 98;
	width: 403px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u323
{
	z-index: 82;
	width: 741px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u323_clip
{
	overflow: hidden;
	width: 741px;
	height: 441px;
}

#u323_img
{
	margin-left: -751px;
	margin-top: -15px;
	margin-bottom: -43px;
}

#u301-4
{
	z-index: 94;
	width: 272px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #993E13;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 450px;
}

#u299-4
{
	z-index: 110;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #993F14;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 495px;
}

#u339-20
{
	z-index: 122;
	width: 711px;
	min-height: 105px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 11px;
	margin-top: 8px;
	position: relative;
}

#u148
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 419px 120px;
}

#u150-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u151-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u153-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u149-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u147-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u154-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u429-4
{
	z-index: 27;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 297px;
	left: 120px;
}

#u146
{
	z-index: 31;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u438
{
	z-index: 32;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 381px 120px;
}

#u444-4
{
	z-index: 33;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u439-4
{
	z-index: 41;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u442-4
{
	z-index: 49;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u447-4
{
	z-index: 57;
	width: 153px;
	min-height: 38px;
}

#u446-4
{
	z-index: 37;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u445-4
{
	z-index: 45;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u441-4
{
	z-index: 53;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u448
{
	z-index: 61;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u312
{
	z-index: 114;
	width: 732px;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 19px;
	position: relative;
}

#u336
{
	z-index: 120;
	width: 732px;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 24px;
	position: relative;
}

#u328
{
	z-index: 118;
	width: 732px;
	background-color: transparent;
	margin-left: 226px;
	margin-top: 24px;
	position: relative;
}

#u318
{
	z-index: 116;
	width: 732px;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 24px;
	position: relative;
}

#u341-9
{
	z-index: 142;
	width: 711px;
	min-height: 105px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 232px;
	margin-top: 24px;
	position: relative;
}

#u339-2,#u341-2,#u341-4,#u341-6
{
	text-align: justify;
}

#u443
{
	z-index: 62;
	min-height: 149px;
	padding-bottom: 16px;
}

#u443_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u437-4
{
	z-index: 63;
	width: 311px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 101px;
}

#u440-15
{
	z-index: 67;
	width: 321px;
	min-height: 96px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 742px;
}

#u443-bw
{
	z-index: 62;
	min-height: 149px;
	margin-top: 231px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
}

#page .verticalspacer
{
	clear: both;
}

