.version.study_and_model_making_for_adding_a_convertible_roof_to_current_indian_two_wheeler_for_hot_summers /* version checker */
{
	color: #000018;
	background-color: #360AD9;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 960.5500000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -113px;
	margin-bottom: -259px;
	width: 0.01px;
}

#ppu294-4
{
	width: 0.01px;
	margin-left: -100px;
}

#pu294-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 321px;
}

#u294-4
{
	z-index: 50;
	width: 742px;
	min-height: 60px;
	background-color: transparent;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 22px;
	text-align: right;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
}

#u306
{
	z-index: 54;
	vertical-align: top;
	width: 603px;
	height: 3px;
	margin-left: 140px;
	margin-top: 4px;
	position: relative;
	background: url("../images/u306.png") no-repeat 0px 0px;
}

#ppu300
{
	width: 0.01px;
	margin-top: 19px;
}

#pu300
{
	z-index: 49;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	margin-left: -5px;
}

#u300
{
	z-index: 0;
	width: 732px;
	border-width: 10px;
	border-style: solid;
	border-color: #993E13;
	background-color: #993E13;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 20px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu296-4
{
	width: 0.01px;
	position: relative;
	left: 11px;
	padding-top: 16px;
	z-index: 2;
	padding-bottom: 20px;
}

#u296-4
{
	z-index: 55;
	width: 652px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 5px;
	position: relative;
}

#u304-4
{
	z-index: 71;
	width: 539px;
	min-height: 30px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 170px;
	position: relative;
}

#pu297-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 101px;
}

#u297-4
{
	z-index: 67;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u305-4
{
	z-index: 63;
	width: 403px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u323
{
	z-index: 47;
	width: 741px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u323_clip
{
	overflow: hidden;
	width: 741px;
	height: 441px;
}

#u323_img
{
	margin-left: -751px;
	margin-top: -15px;
	margin-bottom: -43px;
}

#u301-4
{
	z-index: 59;
	width: 272px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993E13;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 414px;
	left: 450px;
}

#u299-4
{
	z-index: 75;
	width: 227px;
	min-height: 36px;
	background-color: transparent;
	line-height: 24px;
	color: #993F14;
	font-size: 20px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 495px;
}

#u339-20
{
	z-index: 87;
	width: 711px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 11px;
	margin-top: 8px;
	position: relative;
}

#u312
{
	z-index: 79;
	width: 732px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 19px;
	position: relative;
}

#u336
{
	z-index: 85;
	width: 732px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 24px;
	position: relative;
}

#u85
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 777px 120px;
}

#u81-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u89-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u133-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u84-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u90-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u94-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u92
{
	z-index: 27;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u328
{
	z-index: 83;
	width: 732px;
	background-color: transparent;
	margin-left: 226px;
	margin-top: 24px;
	position: relative;
}

#u318
{
	z-index: 81;
	width: 732px;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 24px;
	position: relative;
}

#u341-9
{
	z-index: 107;
	width: 711px;
	min-height: 105px;
	background-color: transparent;
	line-height: 19px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 232px;
	margin-top: 24px;
	position: relative;
}

#u339-2,#u341-2,#u341-4,#u341-6
{
	text-align: justify;
}

#u352
{
	z-index: 28;
	min-height: 189px;
	padding-bottom: 70px;
}

#u352_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u353-4
{
	z-index: 29;
	width: 306px;
	min-height: 73px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 20px;
}

#u362-14
{
	z-index: 33;
	width: 409px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 69px;
	left: 736px;
}

#u352-bw
{
	z-index: 28;
	min-height: 189px;
	margin-top: 103px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
	padding-bottom: 254px;
}

#page .verticalspacer
{
	clear: both;
}

