.version.teaching /* version checker */
{
	color: #000016;
	background-color: #379CE3;
}

.html
{
	background-color: #337885;
}

#page
{
	z-index: 1;
	width: 963px;
	min-height: 1156px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -113px;
	width: 0.01px;
}

#ppu383-4
{
	width: 0.01px;
	margin-left: -100px;
}

#pu383-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 315px;
}

#u383-4
{
	z-index: 82;
	width: 247px;
	min-height: 43px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	text-align: right;
	line-height: 29px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 501px;
	position: relative;
}

#u384-17
{
	z-index: 86;
	width: 728px;
	min-height: 216px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-top: 15px;
	position: relative;
}

#pu391
{
	width: 0.01px;
	margin-top: 28px;
}

#u391
{
	z-index: 105;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u385
{
	z-index: 103;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 370px;
}

#pu396
{
	width: 0.01px;
	margin-top: 8px;
}

#u396
{
	z-index: 107;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u401
{
	z-index: 109;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 370px;
}

#u148
{
	z-index: 2;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 419px 120px;
}

#u150-4
{
	z-index: 3;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u151-4
{
	z-index: 11;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u153-4
{
	z-index: 19;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u149-4
{
	z-index: 7;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u147-4
{
	z-index: 15;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u154-4
{
	z-index: 23;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u429-4
{
	z-index: 27;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 297px;
	left: 120px;
}

#u146
{
	z-index: 31;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u420
{
	z-index: 32;
	width: 162px;
	margin-right: -10000px;
	padding: 10px 6px 381px 120px;
}

#u417-4
{
	z-index: 33;
	width: 139px;
	min-height: 62px;
	margin-left: 23px;
}

#u418-4
{
	z-index: 41;
	width: 106px;
	min-height: 42px;
	margin-left: 47px;
	margin-top: 61px;
}

#u416-4
{
	z-index: 49;
	width: 153px;
	min-height: 42px;
	margin-top: 80px;
}

#u432-4
{
	z-index: 57;
	width: 153px;
	min-height: 38px;
}

#u424-4
{
	z-index: 37;
	width: 96px;
	min-height: 52px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 177px;
}

#u421-4
{
	z-index: 45;
	width: 153px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 175px;
	left: 120px;
}

#u426-4
{
	z-index: 53;
	width: 153px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 120px;
}

#u425
{
	z-index: 61;
	width: 288px;
	height: 6px;
	margin-right: -10000px;
	margin-top: 113px;
}

#u409-7
{
	z-index: 111;
	width: 728px;
	min-height: 53px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 215px;
	margin-top: 19px;
	position: relative;
}

#u419
{
	z-index: 62;
	min-height: 149px;
	padding-bottom: 16px;
}

#u419_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
	left: -100px;
}

#u423-4
{
	z-index: 63;
	width: 311px;
	min-height: 61px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 101px;
}

#u422-15
{
	z-index: 67;
	width: 321px;
	min-height: 96px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 742px;
}

#u419-bw
{
	z-index: 62;
	min-height: 149px;
	margin-top: 262px;
}

body
{
	position: relative;
	min-width: 963px;
	padding-top: 113px;
}

#page .verticalspacer
{
	clear: both;
}

